<!DOCTYPE html>
<html lang="">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>David Ho</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <script src="https://use.fontawesome.com/0a38ab8407.js"></script>


    <!-- ===========================
    FAVICONS
    =========================== -->
    <link rel="icon" href="img/favicon.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/img/apple-touch-icon-ipad-retina.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="static/img/apple-touch-icon-iphone-retina.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="static/img/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="static/img/apple-touch-icon-iphone.png" />

    <!-- ===========================
    STYLESHEETS
    =========================== -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/responsive.css">

    <!-- ===========================
    FONTS & ICONS
    =========================== -->
    
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    <!--[if IE]>
        <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<header class="navbar navbar-inverse">
        <div class="container-header">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar">Home</span>
                            <span class="icon-bar">Resume</span>
                            <span class="icon-bar">Projects</span>
                            <span class="icon-bar">About</span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ url_for('hello') }}">Home<span class="sr-only">(current)</span></a></li>
                            <li><a href="{{ url_for('resume') }}">Resume<span class="sr-only">(current)</span></a></li>
                            <li><a href="{{ url_for('projects') }}">Projects</a></li>
                            <li><a href="{{ url_for('about') }}">About</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <a class="navbar-brand" href="#" style="color: white;">David Ho</a>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </nav>
        </div>
    </header>

<body>
    <div class="container">
        <!-- ===========================
        HEADER
        ============================ -->
        <div id="header" class="row">
            <div class="col-sm-2">
                <img class="propic" src="https://i.imgur.com/rbsZRZr.jpg" alt="">
            </div>
            <!-- photo end-->

            <div class="col-sm-10">
                <div class="cv-title">
                    <div class="row">
                        <div class="col-sm-7">
                            <h1>David Ho</h1>
                        </div>
                        <div class="col-sm-5 text-right dl-share">
                            <!-- AddToAny BEGIN -->
                            <a class="a2a_dd btn btn-default" href=""><span class="fa fa-share "></span> Share</a>
                            <script type="text/javascript">
                                var a2a_config = a2a_config || {};
                                a2a_config.linkname = "";
                                a2a_config.num_services = 6;
                                a2a_config.prioritize = ["facebook", "twitter", "google_plus", "linkedin", "pinterest", "email"];
                            </script>
                            <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
                            <!-- AddToAny END -->

                            <a class="btn btn-success" href=""><span class="fa fa-download"></span> Download</a>
                        </div>
                    </div>
                    <h2>Graduate student</h2>
                </div><!-- Title end-->

                <!-- ===========================
                SOCIAL & CONTACT
                ============================ -->
                <div class="row">
                    <div class="col-sm-4">
                        <ul class="list-unstyled">
                            <li><a href=""><span class="social fa fa-skype"></span>+886939312171</a>
                            </li>
                            <li><a href="mailto:davidho@gapp.nthu.edu.tw"><span class="social fa fa-envelope-o"></span>davidho@gapp.nthu.edu.tw</a>
                            </li>
                        </ul>
                    </div><!-- social 1st col end-->

                    <div class="col-sm-4">
                        <ul class="list-unstyled">
                            <li><a href="https://github.com/davidho27941"><span class="social fa fa-github"></span>GitHub</a>
                            </li>
                        </ul>
                    </div><!-- social 2nd col end-->

                    
                </div><!-- header social end-->
            </div><!-- header right end-->
        </div><!-- header end-->

        <hr class="firsthr">

        <!-- ===========================
        BODY LEFT PART
        ============================ -->
        <div class="col-md-8 mainleft">
            <div id="statement" class="row mobmid">
                <div class="col-sm-1">
                    <span class="secicon fa fa-user"></span>
                </div><!--icon end-->

                <div class="col-sm-11">
                    <h3>Personal statement </h3>
		    <p>I am a graduate student major in High Enery Physics. Exploring particle physics with machine learning models.</p>
                </div><!--info end-->
            </div><!--personal statement end-->

            <hr>

            <div id="education" class="row mobmid">
                <div class="col-sm-1">
                    <span class="secicon fa fa-graduation-cap"></span>
                </div><!--icon end-->

                <div class="col-sm-11">
                    <h3>Education &amp; Certification</h3>
                    <div class="row">
                        <div class="col-md-9">
                            <h4>M.S. Physics</h4>
                            <p class="sub"><a href="">Nation Tsing Hua University</a>
                            </p>
                            <p>Participate in Kingman Cheung's research group and explore particle physics with machine learning.</p>
                        </div>

                        <div class="year col-md-3">
                            <p>2019-now</p>
                        </div>
                    </div><!--Education & Certification 1 end-->
                    <div class="row">
                        <div class="col-md-9">
                            <h4>B.S. Physics</h4>
                            <p class="sub"><a href="">Chung Yuan Christian University</a>
                            </p>
                            <p>Attended for four years and graduated with a Bachelor of Engineering in Physics. I participate in two research project and went to Japan for one-year exchange.</p>
                        </div>

                        <div class="year col-md-3">
                            <p>2015-2019</p>
                        </div>
                    </div><!--Education & Certification 1 end-->
                    <div class="row">
                        <div class="col-md-9">
                            <h4>Exchange</h4>
                            <p class="sub"><a href="">Niigata University</a>
                            </p>
                            <p>Attended for one years in department of Science. I learn lots of Japanese culture and particle physics knowledge in this year.</p>
                        </div>

                        <div class="year col-md-3">
                            <p>2017-2018</p>
                        </div>
                    </div><!--Education & Certification 1 end-->
                </div>
            </div><!--Education & Certifications end-->
            
            <hr>

            <!-- ===========================
            INTERN EXPERIENCES
            ============================ -->
            <div id="job" class="row mobmid">
                <div class="col-sm-1">
                    <span class="secicon fa fa-briefcase"></span>
                </div><!--icon end-->

                <div class="col-sm-11">
                    <h3>Research Experience</h3>

                    <div class="row">
                        <div class="col-md-9">
                            <h4>Research Assistant</h4>
                            <p class="sub"><a href="">Nano Device and Mesoscopic Physics Laboratory</a>
                            </p>
                            <p>
                                <ul>
                                    <li>Set up analysis workflow, device, and software for Portable Pulse Measurement System and Signal Analysis for Studying Chinese medical diagnosis</li>
                                    <li>Execute National Science Council Research project and publish a post in TPS2019 Annual meeting.</li>
                                </ul>
                            </p>
                        </div>

                        <div class="year col-md-3">
                            <p>July. 2016 - Apr. 2018</p>
                        </div>
                    </div><!--Job 1 end-->
                    
                    <hr>
                    
                    <div class="row">
                        <div class="col-md-9">
                            <h4>Research Assistant</h4>
                            <p class="sub"><a href="">Dr. Wen-Yu Wen’s Lab</a>
                            </p>
                            <p>
                                <ul>
                                    <li>Probing Weak Gravity Conjecture(WGC) with the Reissner–Nordström black hole and its qusai-normal mode.</li>
                                    <li>Went to Manipal Academy of Higher Education as a visitor for WGC project.</li>
                                    <li>Publish a poster as a summary of WGC project in TPS2020.</li>
                                </ul>
                            </p>
                        </div>

                        <div class="year col-md-3">
                            <p>Apr. 2018 - Jun. 2020</p>
                        </div>
                    </div><!--Job 2 end-->
                    
                    <hr>
            
                    <div class="row">
                        <div class="col-md-9">
                            <h4>Research Assistant</h4>
                            <p class="sub"><a href="">Dr. Kingman Cheung's Lab</a>
                            </p>
                            <p>
                                <ul>
                                    <li>Apply machine learning method to particle physics problem and explore for advanced application.</li>
                                </ul>
                            </p>
                        </div>

                        <div class="year col-md-3">
                            <p>Sep. 2019 - now</p>
                        </div>
                    </div><!--Job 3 end-->
                    
                </div><!--Job experiences end-->
            </div><!--Job experiences end-->
        </div><!--left end-->
        
        <!-- ===========================
        SIDEBAR
        =========================== -->
        <div class="col-md-4 mainright">
            <div class="row">
                <div class="col-sm-1 col-md-2 mobmid">
                    <span class="secicon fa fa-magic"></span>
                </div><!--icon end-->

                <div class="col-sm-11 col-md-10">
                    <h3 class="mobmid">Technical skills </h3>

                    <p>Python</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                            <span class="sr-only">70% Complete</span>
                        </div>
                    </div><!--skill end-->
                    
                    <p>C/C++</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                            <span class="sr-only">70% Complete</span>
                        </div>
                    </div><!--skill end-->
                    
                    <p>Docker</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                            <span class="sr-only">50% Complete</span>
                        </div>
                    </div><!--skill end-->
                    
                    <p>HTML</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                            <span class="sr-only">50% Complete</span>
                        </div>
                    </div><!--skill end-->

                    <p>Git</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div><!--skill end-->

                </div><!--info end-->
            </div><!--tech skills end-->
            
            <hr>
            
        </div><!--right end-->
    </div><!--container end-->

    <!-- ===========================
    FOOTER
    =========================== -->
    <footer class="text-center">
        <p>&copy; <a href="http://creativecommons.org/licenses/by/3.0/">CC-3.0</a>, Just another CV template by <a href="https://evenfly.com">EvenFly </a> - Designed by <a target="_blank" href="http://www.facebook.com/towkirahmedbappy">Towkir Ahmed Bappy</a>.
        </p>
    </footer>

    <!--necessary scripts and plugins-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/evenfly.js"></script>
</body>

</html>
